body{font-size: 12px;font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;color: #595757;background: #ffffff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
a {text-decoration: none;}
.net-main {
  width: 920px;
  margin: 0 auto;
}
.logo{
  float:left;
  vertical-align: middle;
  color: #ffffff;
  height: 60px;
  line-height: 50px;
  padding-left: 30px;
}
.header {
  background: #50bced;
  position: relative;
}
.header .top-bar {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.header.top-bar li {
  float: left;
  text-align: center;
}
.header .top-bar li a {
  color: #fff;
  width: 40px;
  height: 40px;
  text-decoration: none;
  text-indent: -9999em;
  display: block;
  margin: 0 10px 0 0;
}
.header .top-bar li .btn-gohome {
    background: url(../images/hct_exit.png) no-repeat center center;
}
.header .top-bar li .btn-gohome:hover{
    background: url(../images/hct_exit_hover.png) no-repeat center center;
}
.top-bar {text-align: right;}
.top-bar .switch-btn {background: url(../images/switch.png) no-repeat 0 0;width: 56px;height: 25px;display: inline-block;vertical-align: middle;cursor: pointer;}
.top-bar .switch-btn.off {background: url(../images/switch.png) no-repeat 0 -26px;width: 56px;height: 25px;}
.page-title{height: 40px;line-height: 40px;text-align: center;}
.title-ico {background: url(../images/net-icon.png) no-repeat 0 10px;padding-left:40px;font-size: 35px;line-height: 35px;}
.follow-bar {
	position: relative;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #d5f1fd; /* layer fill content */
    margin: 100px auto 0 auto;
    width: 860px;
    height: 182px;
}
.item {position: absolute; top:30px; background-repeat: no-repeat; width: 122px; height: 122px; text-align: center;}
.item .pic {width: 122px; height: 122px}
.item1 {width: 122px; left:50px; background: none;}
.item1 p {font-size: 14px;}
.item1 span {display: inline-block;}
.item1 span.name {color: #00b3fd;}
.ipad {background: url(../images/pc.png) no-repeat center center;}
.phone {background: url(../images/pc.png) no-repeat center center;}
.pc {background: url(../images/pc.png) no-repeat center center;}

.item2 {width: 122px; left:370px; background: none;}
.item2 p {font-size: 14px;}
.item2 span {display: inline-block;}
.item2 span.name {color: #00b3fd;}
.router {background: url(../images/router.png) no-repeat center center;}

.item3 {width: 122px; right:50px; background: none;}
.item3 p {font-size: 14px;}
.item3 span {display: inline-block;}
.item3 span.name {color: #00b3fd;}
.web {background: url(../images/web.png) no-repeat center center;}

.arrow-bar {position: absolute;top:60px;}
.arrow-bar.state1 {width: 145px;height: 25px;left:200px;}
.arrow-bar.state1 p{background: url(../images/state-arrow2.png) no-repeat 0 -50px;width: 145px;height: 15px;}
.arrow-bar.state1 .normal-left {background: url(../images/state-arrow2.png) no-repeat 0 -50px;width: 145px;height: 15px;}
.arrow-bar.state1 .normal-right {background: url(../images/state-arrow2.png) no-repeat 0 -62px;width: 145px;height: 15px;}
.arrow-bar.state1 .error-left {background: url(../images/state-arrow2.png) no-repeat 0 -9px;}
.arrow-bar.state1 .error-right {background: url(../images/state-arrow2.png) no-repeat 0 1px;}
.arrow-bar.state1 .success-left {background: url(../images/state-arrow2.png) no-repeat 0 -25px;}
.arrow-bar.state1 .success-right {background: url(../images/state-arrow2.png) no-repeat 0 -35px;}

.arrow-bar.state2 {width: 145px;height: 20px;left: 525px;top:65px;}
.arrow-bar.state2 p{background: url(../images/state-arrow.png) no-repeat 0 -0px;width: 145px;height: 20px;}
.arrow-bar.state2 .error {background: url(../images/state-arrow.png) no-repeat 0 -20px;}
.arrow-bar.state2 .success {background: url(../images/state-arrow.png) no-repeat 0 -42px;}
.arrow-bar.state2 .other {background: url(../images/state-arrow.png) no-repeat 0 -67px;}

.error-pop {
	position: absolute;
	width: 205px;
    min-height: 50px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    text-align: center;
}
.error-pop .bd {padding:20px;}
.error-pop.red{border: 1px solid #f00; /* stroke */}
.error-pop.yellow{border:1px solid #fec723}
.error-pop.red .point {padding-top:60px;background: url(../images/point.png) no-repeat -30px 0;width: 20px;position: absolute;top:-60px;left:100px;}
.error-pop.yellow .point {padding-top:60px;background: url(../images/point.png) no-repeat 0 0;width: 20px;position: absolute;top:-60px;left:100px;}

.error-pop.pop-state1{top:205px;left:55px;}
.error-pop.pop-state2{top:205px;left:325px;}
.error-pop.pop-state3{top:205px;left:530px;}
.error-pop.pop-state4{top:-125px;left:55px;}
.error-pop.pop-state4 .point{padding-top:60px;background: url(../images/point-top.png) no-repeat 0 0;width: 20px;position: absolute;top:98px;left:100px;}

.error-pop .title {font-size: 14px;text-align: center;}
.error-pop .info {color: #595757;}
.error-pop .icon-i {width: 20px;height: 20px;display: inline-block;background: url(../images/error-icon.png) no-repeat 0 0;}
.error-pop .icon-x {width: 20px;height: 20px;display: inline-block;background: url(../images/error-icon.png) no-repeat 0 -28px;}

.info-box {min-height: 70px;_height:70px;text-align: center;padding:0 0 40px 0;}
.info-box .checking {font-size: 25px;padding-left:25px;background: url(../images/loading.png) no-repeat 0 3px;}
.info-box .checking-box {padding-top:30px;}
.info-box .success {font-size: 25px;padding-left:33px;background: url(../images/success-ico.png) no-repeat 0 3px;}
.info-box .success-box {padding-top:30px;}
.info-box a {color: #008dc9;}
.info-box p{padding:5px 0;}

.btn-bar {text-align: center;}
.btn-submit {
	margin-top: 20px;
    width: 180px;
    height: 50px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #00b3fd; /* layer fill content */
    color: #fff;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    line-height: 50px;
}
.dialog-tip {position: absolute;background: #fff;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;width: 360px;z-index: 999;}
.dialog-tip .hd{border-left: 5px solid #00b8ff;height: 25px;margin-left:10px;margin-top:-3px;line-height: 25px;padding:5px 5px 0 5px;}
.dialog-tip .hd span{font-size:14px; }
.dialog-tip .hd .close {background: url(../images/close.gif) no-repeat 0 0;width: 25px;height: 25px;display: block;cursor: pointer;float: right;}
.dialog-tip .bd {padding-top:10px;}
.dialog-tip .tip-pic {background:#f7f8f8 url(../images/p.png) no-repeat center center;height: 114px;}
.dialog-tip .tip-box {color: #9fa0a0;padding:15px 0 15px 80px;}
.dialog-tip .tip-box p {font-size:15px;color: #595757;}
.mask {background: #000;position: absolute;z-index: 99;top:0;left: 0;opacity: 0.3;}

.pipe{ margin: 0 8px; color: #999;}
.net-footer {
	position: absolute;
	width: 100%;
	bottom:0px;
	background: #4fc0e8;
	text-align: center;
	padding: 10px 0 10px 0;
	color: #fff;
	margin-top: 0px;
	line-height: 22px;
}